<!DOCTYPE html>
<html>
<head>
    <title>TrueLens AI Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>TrueLens AI Video Analyzer</h1>

    <div class="card">

        <h2>Analyze Video</h2>

        <!-- FILE UPLOAD FORM -->
        <form method="POST" enctype="multipart/form-data">

            <h3>Upload File</h3>
            <input type="file" name="file">

            <br><br>

            <button type="submit">Analyze Uploaded Video</button>
        </form>

        <hr>

        <!-- URL FORM -->
        <form method="POST">

            <h3>OR Paste Video URL</h3>
            <input type="text" name="url" placeholder="Paste video link here" style="width:100%; padding:10px;">

            <br><br>

            <button type="submit">Analyze URL</button>
        </form>

    </div>

</div>

</body>
</html>